<li name="{property.local_id}">
  <input type="text" name="propertylabel[]" value="{property.label}" placeholder="Size, color, component ..." value="{property.label}"></input>
  <input type="text" name="propertyvalue[]" value="{property.value}" placeholder="86, black, Pentium II ..." value="{property.value}"></input>
  <input type="text" name="propertyunit[]" value="{property.unit}" placeholder="cm, rgb, piece ..." value="{property.unit}"></input>
  <input type="hidden" name="propertylocal_id[]" value="{property.local_id}"></input>
  <button name="removeLine">{L_REMOVE_PROPERTY}</button>
</li>
