/*SEARCH*/
.products{
  width: 100%;
  text-align: center;
}

.product-block{
    display:  inline-block;
    width: 30%;
    text-align: center;
}
.products .product-block img{
  max-width: 350px;
}
/*SHOW*/
.product-image{
  float: left;
  margin-right: 2%;
}

.have::before{
  background-position: 0px -20px;
}
