<!-- INCLUDE overall_header.html -->

<form>
  <div class="panel">
    <div class="inner">
      <h2>{L_PRODUCT_SEARCH}</h2>

        <select name="brand_id" autocomplete="off">
        <!-- BEGIN option -->
          <option value="{option.local_id}"<!-- IF option.selected --> selected="selected" <!-- ENDIF -->/>{option.name}</option>
        <!-- END option -->
        </select>
        <input type="text" name="name"></input>
        <input type="submit" name="submit"></input>
    </div>
  </div>
</form>
<div class="products ">
  <!-- BEGIN product -->
<div class="product-block panel">
  <a href="{product.url}">
    <img src="{product.image_path}" />
    <h4>{product.name} </h4>
  </a>
  <a href="{product.brand_url}"><h5>{L_BY} {product.brand}</h5></a>
</div>
<!-- END product -->
</div>

<!-- IF U_NEW -->
<div class="panel">
  <div class="inner">
    <h3>{L_NEW_PRODUCT}</h3>
    <form method="post" action="{U_NEW}">
      <!-- INCLUDE part/edit_product.html -->
    <input type="submit" name="submit" style="float:right" value="{L_SUBMIT}" />
  </form>
  </div>
</div>
<!-- ENDIF -->

<!-- IF U_NEW_BRAND -->
<div class="panel">
  <div class="inner">
    <h3>{L_NEW_BRAND}</h3>
    <form method="post" action="{U_NEW_BRAND}">
      <!-- INCLUDE part/edit_brand.html -->
    <input type="submit" name="submit" style="float:right" value="{L_SUBMIT}" />
  </form>
  </div>
</div>
<!-- ENDIF -->
<!-- INCLUDE overall_footer.html -->
